* {box-sizing: border-box;}

body { font-family: 'Raleway', Arial, Arial, Helvetica, sans-serif;
    margin: 0;
    background: whitesmoke;
    
}

.capa {
    background-image: url(../img/geek-wallpaper-collection-1-stugon.com-8-1024x576.png);
    background-size: cover; 
    height: 70vh;
    text-align: center;
    padding-top:12rem;

}

.titulo-capa{
    font-size: 40px;

}

.subtitulo-capa{
    font-size:30px;

}

.veja-mais {
    font-size:15px;
    font-weight: bold;
    background-color: black;
    color:#7E459B;
    border-radius: 3rem;
    padding:10px 20px;

}

.infos{
    max-width: 1100px;
    margin:center;
    display: block;
    margin-top: -1rem; 
}
  
.titulo-infos{
    font-size: 43px;
    color: grey;
    margin:45px 101px;
}

.paragrafo1{
    font-size:17px;
}

.paragrafo2{
  font-size:17px;

}

.texto{
    width: 40%;
    display: inline-block;
    margin-left: 100px;

}

.lista{
    width: 35%;
    display: inline-block;
    margin-left: 47px;

} 

h4{
    font-size:12px;

}

ul {font-size: 17px;
line-height: 38px; 
}


.redes-sociais{
    width: 70%;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;   
        
}

.quadradinho-roxo{
    background: #7E459B;
    text-align: center;
    color: white;
    padding: 19px 36px;
    border-radius: 3px 51px
}

.veja-meu-cv{
    margin-top: 100px;
    text-decoration: none;
    color:#7E459B;
    background-color: whitesmoke;
    font-weight: bold;
    padding:10px 20px;
    border: 3px solid#7E459B;
    border-radius: 3rem;

}

a{ 
    font-size: 12px;
    font-weight: bold;
    background-color:#7E459B;
    color: white;
    border-radius: 3rem;
    
}
.rodape{
    font-size: 20px;
    text-align: center;
   
    
  
}
